{% if template != 'cart' %}
  <a id="simple-cart" class="horizontal" href="{{ routes.cart_url }}">
    <span>{{ 'templates.cart.cart' | t }}</span>
    <span class="cart-count">
      {%- if cart != empty -%}
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">({{ cart.item_count }})</span>
          <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        {%- endif -%}
      {%- else -%}
        <span aria-hidden="true">(0)</span>
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: 0 }}</span>
      {%- endif -%}
    </span>
    <div aria-hidden="true">Estimado Total {{ cart.total_price | money_with_currency }}</div>
  </a>
{% endif %}
