{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-menu' %}
{% endcomment %}

<nav class="horizontal">
  <ul class="appearance-none">
    {%- for link in block.settings.menu.links -%}
      <li class="sz-dropdown {% if link.child_active %}active{% endif %}">
        {%- if link.links != blank -%}
          <details class="sz-dropdown appearance-none">
            <summary
              id="HeaderMenu-{{ link.handle }}"
              class="{{ forloop.index }}"
            >
              {{- link.title | escape -}}
            </summary>
            <ul class="box" id="HeaderMenu-MenuList-{{ forloop.index }}" tabindex="-1">
              {%- for childlink in link.links -%}
                <li class="{% if link.child_active %}active{% endif %}">
                  {%- if childlink.links == blank -%}
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                      href="{{ childlink.url }}"
                      {% if childlink.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <div>
                      <span
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        class="a"
                      >
                        {{ childlink.title | escape }}
                      </span>
                      <ul
                        id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}"
                        class="appearance-none"
                      >
                        {%- for grandchildlink in childlink.links -%}
                          <li class="{% if link.child_active %}active{% endif %}">
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              href="{{ grandchildlink.url }}"
                              {% if grandchildlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </details>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="{% if link.current %} active{% endif %}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {{- link.title | escape -}}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
