<product-info
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
  {% if section.settings.image_zoom == 'hover' %}
    data-zoom-on-hover
  {% endif %}
>
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  <a href="#ProductInfo-{{ section.id }}" hidden>
    {{ 'accessibility.skip_to_product_info' | t }}
  </a>

  {% render 'product-media-gallery', variant_images: variant_images %}
  <section
    id="ProductInfo-{{ section.id }}"
    class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}"
  >
    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'title' -%}
          {% render 'title', product: product, block: block %}
        {%- when 'price' -%}
          <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </div>
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="volume-pricing-note" id="Volume-Note-{{ section.id }}">
              <span>{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
          {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
            <div class="product__tax caption rte">
              {%- if cart.duties_included and cart.taxes_included -%}
                {{ 'products.product.duties_and_taxes_included' | t }}
              {%- elsif cart.taxes_included -%}
                {{ 'products.product.taxes_included' | t }}
              {%- elsif cart.duties_included -%}
                {{ 'products.product.duties_included' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
          <div {{ block.shopify_attributes }}>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
        {%- when 'description' -%}
          <details class="product__description-details">
            <summary>Descripcion</summary>
            {% render 'description', product: product, block: block %}
          </details>
          <details class="product_shipping_information">
            <summary>{{ product.metafields.custom.shipping_information.value.label }}</summary>
            <div>
              {{ product.metafields.custom.shipping_information.value.text_content | metafield_tag }}
            </div>
          </details>
        {%- when 'quantity_selector' -%}
          {% render 'quantity-selector',
            product: product,
            section: section,
            block: block,
            product_form_id: product_form_id
          %}
        {%- when 'share' -%}
          {% liquid
            assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin
            render 'share-button', block: block, share_link: share_url
          %}
        {%- when 'variant_picker' -%}
          {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
        {%- when 'buy_buttons' -%}
          {%- render 'buy-buttons',
            block: block,
            product: product,
            product_form_id: product_form_id,
            section_id: section.id,
            show_pickup_availability: true
          -%}
      {%- endcase -%}
    {%- endfor -%}
    <div class="complementary-images">
      {% for variant in product.variants %}
        <img
          class="complementary-image image-{{ variant.title | downcase | handle }}"
          src="{{ variant.metafields.custom.complementary_image_url }}"
        >
      {% endfor %}
    </div>
  </section>

  {%- if product.media.size > 0 -%}
    <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</product-info>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1
    }
  ],
  "settings": []
}
{% endschema %}
